In [1]:
import nltk
import pandas as pd
import numpy as np
import sys

ids = pd.read_csv('car_model_identifier.csv', header=0)
ids = ids.sort_values(by=['brand_id'])
data = pd.read_csv('entire_data_Mentioned_4th.csv', header=0).iloc[:, 1:] ## because the first column are indexes

import re
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()

## Generate a list of brand names and a list of model names

In [2]:
unique_brand=[]
for x in ids.brand:
    if x not in unique_brand:
         unique_brand.append(x)
len(unique_brand)

40

## add 40 new columns to the dataframe, each named by a brand name

In [3]:
data=pd.concat([data,pd.DataFrame(columns=unique_brand)])
data = data.replace(np.nan, 0)
data.brand_id = data.brand_id.astype(int)

In [4]:
len(data.columns) ## 7 descriptive columns plus 40 brand columns

47

In [5]:
data

,detected_entity,year,model_id,brand_id,yb_id,ybm_id,org_id,ACURA,AUDI,BMW,...,PORSCHE,RAM,SAAB,SATURN,SCION,SUBARU,SUZUKI,TOYOTA,VOLKSWAGEN,VOLVO
0,CL,2002.0,1.0,1,1.0,1.0,185.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACURA,2002.0,1.0,1,1.0,1.0,150328.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,MDX,2002.0,3.0,1,1.0,2.0,1851.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,MDX,2002.0,3.0,1,1.0,2.0,1858.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MDX,2002.0,3.0,1,1.0,2.0,2109.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105916,MDX,0.0,3.0,1,0.0,0.0,310085.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105917,VOLVO,0.0,412.0,40,0.0,0.0,310087.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105918,VOLVO,0.0,412.0,40,0.0,0.0,310091.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105919,BMW,0.0,22.0,3,0.0,0.0,310093.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105920,VOLVO,0.0,412.0,40,0.0,0.0,310093.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### check if the detected brand_id in the review equals to the brand_id of a brand name

In [7]:
for i in range(len(data)):
    for y in range (40):
        if data.brand_id[i] == y+1:
            data.iloc[i,y+7] = 1 ## because the brand columns starts from the 7th column

KeyboardInterrupt:

In [27]:
data.to_csv("PyShark_brand.csv")


## get only the brand columns and org_ids

In [8]:
data = pd.read_csv('PyShark_brand.csv', header=0).iloc[:, 1:] ## because the first column are indexes
data_record = data.iloc[0:,6:]

In [9]:
data_record.head()

,org_id,ACURA,AUDI,BMW,BUICK,CADILLAC,CHEVROLET,CHRYSLER,DAEWOO,DODGE,...,PORSCHE,RAM,SAAB,SATURN,SCION,SUBARU,SUZUKI,TOYOTA,VOLKSWAGEN,VOLVO
0,185.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,150328.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1851.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1858.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2109.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## add up the occurences of brand names in a single review (group by org_id)

In [10]:
data_condensed=data_record.groupby(['org_id']).sum() 
data_condensed.to_csv("PyShark_condensed_model.csv")

In [11]:
data_condensed

,ACURA,AUDI,BMW,BUICK,CADILLAC,CHEVROLET,CHRYSLER,DAEWOO,DODGE,FORD,...,PORSCHE,RAM,SAAB,SATURN,SCION,SUBARU,SUZUKI,TOYOTA,VOLKSWAGEN,VOLVO
org_id,,,,,,,,,,,,,,,,,,,,,
36.0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40.0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310083.0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310085.0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
310087.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
310091.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
310093.0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## replace all values > 1 with 1

In [12]:
data_condensed = data_condensed.apply(lambda x: [y if y <= 1 else 1 for y in x])  ## replace all values > 1 with 1

In [13]:
from itertools import combinations

class lift_calculator:
    def __init__(self, data):
        self.data = data
        self.brand_count = dict(data.sum(axis=0))
        self.pair_brand_count = dict()
        for brand1, brand2 in combinations(data.columns, 2):
            self.pair_brand_count[(brand1, brand2)] = (data[brand1] * data[brand2]).sum()
        self.lift_dict = dict()
        self.total_size = len(data)
        
    def calculate(self):
        for brand1, brand2 in self.pair_brand_count:
            self.lift_dict[(brand1, brand2)] = self.pair_brand_count[(brand1, brand2)] * self.total_size / (self.brand_count[brand1] * self.brand_count[brand2])
    
    def top_n(self, n=10):
        data = pd.DataFrame(self.lift_dict.items()).fillna(0).sort_values(by=1, ascending=False).iloc[:n, :]
        top_n_pairs = dict(zip(data[0], data[1]))
        return top_n_pairs
    
    def return_csv(self):
        df = pd.DataFrame(index=data.columns, columns=data.columns)
        for brand1 in data.columns:
            for brand2 in data.columns:
                df.loc[brand1, brand2] = self.lift_dict.get((brand1, brand2), 0)
        return df

In [14]:
data = data_condensed
calculator = lift_calculator(data)
calculator.calculate()

In [15]:
lift_model_df = calculator.return_csv()

In [16]:
lift_model_df

,ACURA,AUDI,BMW,BUICK,CADILLAC,CHEVROLET,CHRYSLER,DAEWOO,DODGE,FORD,...,PORSCHE,RAM,SAAB,SATURN,SCION,SUBARU,SUZUKI,TOYOTA,VOLKSWAGEN,VOLVO
ACURA,0,2.15939,2.04011,0.657802,1.03374,0.325258,0.312077,0.568426,0.203131,0.331582,...,0.714263,0.0872903,1.6574,0.232797,0.506877,0.805142,0.0819002,0.528268,0.934967,2.03971
AUDI,0,0,3.84679,0.614616,1.21462,0.234141,0.31898,0,0.115109,0.319109,...,2.1771,0,4.15418,0.290544,0.0500818,1.34244,0.121382,0.303914,2.22188,3.40469
BMW,0,0,0,0.5329,1.38822,0.238976,0.3166,0.743256,0.249984,0.302651,...,2.40535,0.114138,2.5018,0.216282,0.17674,0.540488,0.196332,0.341821,0.976621,2.33031
BUICK,0,0,0,0,2.48235,1.05999,1.35667,0,0.322798,0.705753,...,0.145628,0,0.614551,1.19159,0.486869,0.233044,0.295003,0.728839,0.329031,0.593697
CADILLAC,0,0,0,0,0,0.908327,1.08549,0,0.308329,0.469729,...,0.948413,0.204767,0.514583,0.258678,0.0792694,0.168635,0.320205,0.353608,0.264704,0.7733
CHEVROLET,0,0,0,0,0,0,0.621352,3.54818,1.09549,1.01305,...,0.515253,1.52111,0.342321,0.879535,0.448231,0.499214,0.702942,0.801066,0.34799,0.329556
CHRYSLER,0,0,0,0,0,0,0,0,2.68828,0.793738,...,0.32877,1.81401,0.330337,0.232482,0.0915966,0.331262,0.148,0.773022,0.378694,0.363007
DAEWOO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4.83826,0,11.7264,0.972193,0,0
DODGE,0,0,0,0,0,0,0,0,0,1.62334,...,0.344773,13.2237,0.146717,0.460962,0.559379,0.421911,0.410833,0.786805,0.28302,0.155026
FORD,0,0,0,0,0,0,0,0,0,0,...,0.299668,1.6096,0.251158,0.691084,0.348208,0.635501,0.547822,0.916219,0.40799,0.614569
GMC,0,0,0,0,0,0,0,0,0,0,...,0.258352,1.11559,0.408844,0.792733,0.0809751,0.275623,0.196257,0.85911,0.0901333,0.691197
HONDA,0,0,0,0,0,0,0,0,0,0,...,0.291136,0.255692,0.365902,0.820986,1.1878,0.860724,0.899638,1.54691,0.834209,0.629915
HUMMER,0,0,0,0,0,0,0,0,0,0,...,0.267465,0.57747,0,0,0,0.285344,0.541812,0.296471,0.106643,0.204451
HYUNDAI,0,0,0,0,0,0,0,0,0,0,...,0.205299,0.258563,0.402241,0.684384,0.643467,0.720951,1.21299,1.16023,0.525245,0.392328
INFINITI,0,0,0,0,0,0,0,0,0,0,...,1.16139,0,0.546121,0.232296,0.232969,0.569953,0.376426,0.56643,0.685339,1.56247
ISUZU,0,0,0,0,0,0,0,0,0,0,...,0,0,0.456606,0.918133,0,0.808031,3.06858,0.737777,0.100663,0.771944
JAGUAR,0,0,0,0,0,0,0,0,0,0,...,1.92957,0.260377,1.30866,0.328929,0,0.514639,0,0.218744,0.288507,2.39682
JEEP,0,0,0,0,0,0,0,0,0,0,...,0.217855,0.627145,0.131336,0.902296,0.424865,0.761813,0.735524,0.502474,0.250936,0.499585
KIA,0,0,0,0,0,0,0,0,0,0,...,0.0971289,0.262133,0.0878325,0.662293,1.46126,0.453345,1.22973,0.858851,0.290452,0.27842
LAND ROVER,0,0,0,0,0,0,0,0,0,0,...,2.64922,0,0.725956,0.291947,0,0.342583,0.325248,0.606718,0.352096,1.7796
LEXUS,0,0,0,0,0,0,0,0,0,0,...,1.13008,0.0822437,0.98747,0.369411,0.286543,0.406389,0.0771652,0.832956,0.460707,1.74708
LINCOLN,0,0,0,0,0,0,0,0,0,0,...,0.376501,0.541923,0.39721,0.28525,0,0.200835,0.25423,0.458433,0.300235,0.935344
MAZDA,0,0,0,0,0,0,0,0,0,0,...,0.357538,0.0857713,0.754407,0.812649,1.84281,1.28206,0.684037,1.18493,1.32261,0.637706
MERCEDES-BENZ,0,0,0,0,0,0,0,0,0,0,...,2.27886,0.164006,1.92336,0.241716,0.190469,0.374809,0.269287,0.375072,0.961623,2.01777
MERCURY,0,0,0,0,0,0,0,0,0,0,...,0.229906,0.496379,0.554404,0.836087,0.384316,0.572308,0.310485,0.718182,0.336114,0.527222
MINI,0,0,0,0,0,0,0,0,0,0,...,0.865076,0.33959,1.13786,0.285998,2.16912,0.797054,0.31862,0.467559,1.41104,0.60115
MITSUBISHI,0,0,0,0,0,0,0,0,0,0,...,0.62767,0.833952,0.436611,1.09741,0.726388,1.26199,1.07588,0.968197,0.596781,0.811956
NISSAN,0,0,0,0,0,0,0,0,0,0,...,0.320545,0.968903,0.347838,0.437141,0.763558,0.675397,0.89284,1.31948,0.770037,0.453297
OLDSMOBILE,0,0,0,0,0,0,0,0,0,0,...,0.317811,0.686171,0.574786,1.44471,0,0.339056,0,0.448353,0.633584,0.485871
PONTIAC,0,0,0,0,0,0,0,0,0,0,...,0.621457,0.754738,0.351235,1.30657,0.292174,0.414375,0.393408,0.645799,0.433625,0.178141
PORSCHE,0,0,0,0,0,0,0,0,0,0,...,0,0.0987714,0.330952,0.249552,0.344127,0.463654,0.370689,0.142907,0.784335,0.804299
RAM,0,0,0,0,0,0,0,0,0,0,...,0,0,0.178636,0.179598,0.247662,0.210748,0.200084,0.816145,0.118146,0.075501
SAAB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0.526555,0.62238,1.98605,0.167605,0.258458,1.38554,5.56557
SATURN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.730023,0.510281,0.758286,0.55323,0.530669,0.413308
SCION,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.611885,1.62659,1.65294,0.731783,0.350735
SUBARU,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.939238,0.777052,1.43029,1.26844
SUZUKI,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.952516,0.3695,0.283355
TOYOTA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.599202,0.503905
VOLKSWAGEN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.72893
VOLVO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
lift_model_df.to_csv("PyShark_paired_brand_lift_no_diagonal2.csv")

In [17]:
calculator.top_n(10)

{('DODGE', 'RAM'): 13.223722351236063,
 ('DAEWOO', 'SUZUKI'): 11.726353834844401,
 ('DAEWOO', 'HUMMER'): 11.281294200848656,
 ('HUMMER', 'LAND ROVER'): 8.448398628867345,
 ('JAGUAR', 'MERCEDES-BENZ'): 5.657003985689179,
 ('SAAB', 'VOLVO'): 5.565565946564772,
 ('DAEWOO', 'SCION'): 4.838262056414923,
 ('BUICK', 'OLDSMOBILE'): 4.721198668146504,
 ('AUDI', 'SAAB'): 4.1541838747937145,
 ('LINCOLN', 'MERCURY'): 4.152151135493118}

### follow the instruction from Pyshark:  (basically the ap and fp methed generates the same results except ordered differently)
### https://pyshark.com/market-basket-analysis-using-association-rule-mining-in-python/

In [57]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets_ap = apriori(data_condensed,min_support = 0.001, use_colnames=True) ## the min_support could be modified

In [58]:
frequent_itemsets_ap

      support                          itemsets
0    0.062830                           (ACURA)
1    0.042393                            (AUDI)
2    0.096102                             (BMW)
3    0.017443                           (BUICK)
4    0.026784                        (CADILLAC)
..        ...                               ...
354  0.001081    (FORD, TOYOTA, HONDA, HYUNDAI)
355  0.001113      (FORD, TOYOTA, HONDA, MAZDA)
356  0.002006     (NISSAN, FORD, HONDA, TOYOTA)
357  0.001489  (NISSAN, TOYOTA, HONDA, HYUNDAI)
358  0.001567    (NISSAN, TOYOTA, HONDA, MAZDA)

[359 rows x 2 columns]

In [51]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets_fp=fpgrowth(data_condensed, min_support=0.001, use_colnames=True) ## the min_support could be modified

In [59]:
frequent_itemsets_fp

      support            itemsets
0    0.096102               (BMW)
1    0.062830             (ACURA)
2    0.036454          (INFINITI)
3    0.171596             (HONDA)
4    0.044588     (MERCEDES-BENZ)
..        ...                 ...
354  0.001316    (MERCURY, HONDA)
355  0.001238  (MERCURY, LINCOLN)
356  0.001458   (MERCURY, TOYOTA)
357  0.001411     (SUZUKI, HONDA)
358  0.001599    (SUZUKI, TOYOTA)

[359 rows x 2 columns]

### evaluate the lift based on the mlxtend guide:
### http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [60]:
from mlxtend.frequent_patterns import association_rules

rules_ap = association_rules(frequent_itemsets_ap, metric="lift", min_threshold=1.1)
rules_fp = association_rules(frequent_itemsets_fp, metric="lift", min_threshold=1.1) # the min_threshold could be modified

## We generate the same results as we did using the dictionary we defined

In [61]:
rules_fp.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(TOYOTA, BMW)",(HONDA),0.006034,0.171596,0.002100,0.348052,2.028327,0.001065,1.270660
1,"(HONDA, BMW)",(TOYOTA),0.006911,0.183679,0.002100,0.303855,1.654272,0.000831,1.172631
2,(TOYOTA),"(HONDA, BMW)",0.183679,0.006911,0.002100,0.011433,1.654272,0.000831,1.004574
3,(HONDA),"(TOYOTA, BMW)",0.171596,0.006034,0.002100,0.012239,2.028327,0.001065,1.006282
4,"(NISSAN, BMW)",(HONDA),0.004451,0.171596,0.001191,0.267606,1.559513,0.000427,1.131091
5,"(HONDA, BMW)",(NISSAN),0.006911,0.105662,0.001191,0.172336,1.631002,0.000461,1.080556
6,(NISSAN),"(HONDA, BMW)",0.105662,0.006911,0.001191,0.011273,1.631002,0.000461,1.004411
7,(HONDA),"(NISSAN, BMW)",0.171596,0.004451,0.001191,0.006941,1.559513,0.000427,1.002508
8,"(NISSAN, BMW)",(TOYOTA),0.004451,0.183679,0.001128,0.253521,1.380241,0.000311,1.093562
9,"(TOYOTA, BMW)",(NISSAN),0.006034,0.105662,0.001128,0.187013,1.769911,0.000491,1.100064
10,(NISSAN),"(TOYOTA, BMW)",0.105662,0.006034,0.001128,0.010679,1.769911,0.000491,1.004696
11,(TOYOTA),"(NISSAN, BMW)",0.183679,0.004451,0.001128,0.006143,1.380241,0.000311,1.001703
12,(ACURA),(BMW),0.062830,0.096102,0.012318,0.196059,2.040106,0.006280,1.124333
13,(BMW),(ACURA),0.096102,0.062830,0.012318,0.128180,2.040106,0.006280,1.074958
14,(ACURA),(LEXUS),0.062830,0.066685,0.010657,0.169618,2.543558,0.006467,1.123959
15,(LEXUS),(ACURA),0.066685,0.062830,0.010657,0.159812,2.543558,0.006467,1.115429
16,"(ACURA, HONDA)",(LEXUS),0.010971,0.066685,0.001426,0.130000,1.949450,0.000695,1.072775
17,"(LEXUS, HONDA)",(ACURA),0.004921,0.062830,0.001426,0.289809,4.612581,0.001117,1.319602
18,(ACURA),"(LEXUS, HONDA)",0.062830,0.004921,0.001426,0.022699,4.612581,0.001117,1.018191
19,(LEXUS),"(ACURA, HONDA)",0.066685,0.010971,0.001426,0.021387,1.949450,0.000695,1.010644