In [1]:
conda update numpy scipy sympy patsy

Collecting package metadata (current_repodata.json): failed

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://repo.anaconda.com/pkgs/main/osx-64/current_repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.

If your current network has https://www.anaconda.com blocked, please file
a support request with your network engineering team.

'https://repo.anaconda.com/pkgs/main/osx-64'



Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade pyhdfe

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f8aad5ad090>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/pyhdfe/
Requirement already up-to-date: pyhdfe in /Users/shijia_huang/opt/anaconda3/lib/python3.7/site-packages (0.1.0)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /Users/shijia_huang/opt/anaconda3/lib/python3.7/site-packages (from pyhdfe) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.12.0 in /Users/shijia_huang/opt/anaconda3/lib/python3.7/site-packages (from pyhdfe) (1.18.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyblp
import numpy as np
import pandas as pd

pyblp.options.digits = 2
pyblp.options.verbose = False
pyblp.__version__

'0.12.0'

In [2]:
product_data = pd.read_csv(pyblp.data.BLP_PRODUCTS_LOCATION)
product_data.head()

,market_ids,clustering_ids,car_ids,firm_ids,region,shares,prices,hpwt,air,mpd,...,supply_instruments2,supply_instruments3,supply_instruments4,supply_instruments5,supply_instruments6,supply_instruments7,supply_instruments8,supply_instruments9,supply_instruments10,supply_instruments11
0,1971,AMGREM71,129,15,US,0.001051,4.935802,0.528997,0,1.888146,...,0.0,1.705933,1.595656,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.888146
1,1971,AMHORN71,130,15,US,0.000670,5.516049,0.494324,0,1.935989,...,0.0,1.680910,1.490295,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.935989
2,1971,AMJAVL71,132,15,US,0.000341,7.108642,0.467613,0,1.716799,...,0.0,1.801067,1.357703,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.716799
3,1971,AMMATA71,134,15,US,0.000522,6.839506,0.426540,0,1.687871,...,0.0,1.818061,1.261347,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.687871
4,1971,AMAMBS71,136,15,US,0.000442,8.928395,0.452489,0,1.504286,...,0.0,1.933210,1.237365,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.504286

In [68]:
product_data.head()

,market_ids,clustering_ids,car_ids,firm_ids,region,shares,prices,hpwt,air,mpd,...,supply_instruments2,supply_instruments3,supply_instruments4,supply_instruments5,supply_instruments6,supply_instruments7,supply_instruments8,supply_instruments9,supply_instruments10,supply_instruments11
0,1971,AMGREM71,129,15,US,0.001051,4.935802,0.528997,0,1.888146,...,0.0,1.705933,1.595656,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.888146
1,1971,AMHORN71,130,15,US,0.000670,5.516049,0.494324,0,1.935989,...,0.0,1.680910,1.490295,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.935989
2,1971,AMJAVL71,132,15,US,0.000341,7.108642,0.467613,0,1.716799,...,0.0,1.801067,1.357703,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.716799
3,1971,AMMATA71,134,15,US,0.000522,6.839506,0.426540,0,1.687871,...,0.0,1.818061,1.261347,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.687871
4,1971,AMAMBS71,136,15,US,0.000442,8.928395,0.452489,0,1.504286,...,0.0,1.933210,1.237365,87.0,-61.959985,0.0,46.060389,29.786989,0.0,1.504286

In [12]:
agent_data = pd.read_csv(pyblp.data.BLP_AGENTS_LOCATION)
agent_data.head()

,market_ids,weights,nodes0,nodes1,nodes2,nodes3,nodes4,income
0,1971,0.000543,1.192188,0.478777,0.980830,-0.824410,2.473301,109.560369
1,1971,0.000723,1.497074,-2.026204,-1.741316,1.412568,-0.747468,45.457314
2,1971,0.000544,1.438081,0.813280,-1.749974,-1.203509,0.049558,127.146548
3,1971,0.000701,1.768655,-0.177453,0.286602,0.391517,0.683669,22.604045
4,1971,0.000549,0.849970,-0.135337,0.735920,1.036247,-1.143436,170.226032

In [53]:
logit_formulation = pyblp.Formulation('prices') # if use ('prices', absorb='C(product_ids)'), will generate collinearity issues when solving the problem
logit_formulation

1 + prices

In [55]:
problem = pyblp.Problem(logit_formulation, product_data)
problem

Dimensions:
==========================
 T    N     F    K1    MD
---  ----  ---  ----  ----
20   2217  26    2     9
==========================

Formulations:
=======================================
     Column Indices:         0     1
--------------------------  ---  ------
X1: Linear Characteristics   1   prices
=======================================

In [56]:
logit_results = problem.solve()
logit_results

Problem Results Summary:
=============================================================
GMM   Objective  Clipped  Weighting Matrix  Covariance Matrix
Step    Value    Shares   Condition Number  Condition Number
----  ---------  -------  ----------------  -----------------
 2    +5.7E+02      0         +1.2E+07          +1.6E+03
=============================================================

Cumulative Statistics:
========================
Computation   Objective
   Time      Evaluations
-----------  -----------
 00:00:00         2
========================

Beta Estimates (Robust SEs in Parentheses):
======================
    1         prices
----------  ----------
 -6.2E+00    -1.0E-01
(+7.9E-02)  (+6.5E-03)
======================

try forlumation = ('0 + prices', absorb='C(car_ids)'):

In [90]:
logit_formulation2 = pyblp.Formulation('0 + prices', absorb='C(car_ids)')
logit_formulation2

prices + Absorb[C(car_ids)]

In [91]:
problem2 = pyblp.Problem(logit_formulation2, product_data)
problem2

Dimensions:
================================
 T    N     F    K1    MD    ED
---  ----  ---  ----  ----  ----
20   2217  26    1     8     1
================================

Formulations:
==================================
     Column Indices:          0
--------------------------  ------
X1: Linear Characteristics  prices
==================================

In [92]:
logit_results2 = problem2.solve()
logit_results2

ValueError: Failed to compute the 2SLS weighting matrix. There may be instrument collinearity.

single nest:

In [46]:
def solve_nl(df):
    groups = df.groupby(['market_ids', 'nesting_ids'])
    df['demand_instruments20'] = groups['shares'].transform(np.size)
    nl_formulation = pyblp.Formulation('prices')
    problem = pyblp.Problem(nl_formulation, df)
    return problem.solve(rho=0.7)

In [57]:
df1 = product_data.copy()
df1['nesting_ids'] = 1
nl_results1 = solve_nl(df1)
nl_results1

Problem Results Summary:
======================================================================================
GMM   Objective    Projected    Reduced   Clipped  Weighting Matrix  Covariance Matrix
Step    Value    Gradient Norm  Hessian   Shares   Condition Number  Condition Number
----  ---------  -------------  --------  -------  ----------------  -----------------
 2    +8.5E+02     +8.3E-10     +5.9E+04     0         +2.6E+07          +1.2E+04
======================================================================================

Cumulative Statistics:
=================================================
Computation  Optimizer  Optimization   Objective
   Time      Converged   Iterations   Evaluations
-----------  ---------  ------------  -----------
 00:00:01       Yes          4             9
=================================================

Rho Estimates (Robust SEs in Parentheses):
==========
All Groups
----------
 +9.6E-01
(+6.2E-03)
==========

Beta Estimates (Robust SEs in Parentheses):
======================
    1         prices
----------  ----------
 -2.2E+00    -1.5E-02
(+2.9E-02)  (+1.3E-03)
======================

In [59]:
nl_results1.problem

Dimensions:
===============================
 T    N     F    K1    MD    H
---  ----  ---  ----  ----  ---
20   2217  26    2     9     1
===============================

Formulations:
=======================================
     Column Indices:         0     1
--------------------------  ---  ------
X1: Linear Characteristics   1   prices
=======================================

two nest for air conditioning and no air conditioning:

In [61]:
df2 = product_data.copy()
df2['nesting_ids'] = df2['air']
nl_results2 = solve_nl(df2)
nl_results2

Problem Results Summary:
======================================================================================
GMM   Objective    Projected    Reduced   Clipped  Weighting Matrix  Covariance Matrix
Step    Value    Gradient Norm  Hessian   Shares   Condition Number  Condition Number
----  ---------  -------------  --------  -------  ----------------  -----------------
 2    +1.7E+02     +1.4E-09     +5.1E+03     0         +9.1E+06          +1.2E+04
======================================================================================

Cumulative Statistics:
=================================================
Computation  Optimizer  Optimization   Objective
   Time      Converged   Iterations   Evaluations
-----------  ---------  ------------  -----------
 00:00:01       Yes          3             8
=================================================

Rho Estimates (Robust SEs in Parentheses):
==========
All Groups
----------
 +8.7E-01
(+2.0E-02)
==========

Beta Estimates (Robust SEs in Parentheses):
======================
    1         prices
----------  ----------
 -2.5E+00    -7.6E-02
(+1.0E-01)  (+4.2E-03)
======================

In [65]:
nl_results1.beta[1] / (1 - nl_results1.rho)

array([[-0.35853584]])

In [67]:
nl_results2.beta[1] / (1 - nl_results2.rho)

array([[-0.57449286]])